/* TerminalPage.module.css */

.terminalPage {
  font-family: monospace;
  background-color: #1d1f21; /* Terminal background color */
  color: #c5c8c6; /* Text color */
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}

.terminalTitle {
  text-align: center;
  color: #c5c8c6;
}

.terminalOutput {
  background-color: #000; /* Background color of the output area */
  color: #c5c8c6; /* Text color of the output area */
  border: 1px solid #444; /* Border color */
  resize: none;
  width: 100%;
  overflow: auto;
  padding: 10px; /* Add some padding for better visibility */
  box-sizing: border-box; /* Ensure padding is included in width */
}

.inputContainer {
  display: flex;
  margin-top: 10px;
}

.terminalInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  background-color: #333; /* Input background color */
  color: #fff; /* Input text color */
}

.terminalButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.terminalButton:hover {
  background-color: #0056b3;
}
