.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .signup-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  
  .signup-box h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
  }
  
  .error-message {
    color: red;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .signup-button {
    background-color: #20948B;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #12b3c1;
  }
  
  @media (max-width: 768px) {
    .signup-container {
      padding: 10px;
    }
  
    .signup-box {
      padding: 20px;
    }
  
    .signup-button {
      padding: 10px;
    }
  }